<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
	<meta charset="utf-8">
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
	 <script src="modules/checklist-model-0.5.0/checklist-model.js"></script>	 
	 <script src="features/searchforcompany/searchforname.js"></script>
</head>

<body ng-app="myApp">

<!-- MAIN CONTAINER -->
	<div class="wrapper">

<!-- DYNAMIC CONTENT CONTAINER -->
		<div class="dynamic-content-container" ng-controller="searchAndListCompanies">
<!-- DYNAMIC CONTENT FEATURES -->
			<!-- SEARCH COMPANY-->
			<ul class="flex feature-styling styling-grey">
				<li class="col-5-25">
					<label for="data-search">COMPANY NAME</label>
				</li>
				<li class="col-8-25">
					<label for="starting-date">EXP. DATE INTERVAL</label>
				</li>
				<li class="col-1-25">
					<input type="checkbox" ng-model="formData.validContract">
				</li>
				<li class="col-5-25">
					<label for="valid-contract">VALID CONTRACT</label>
				</li>
				<li class="col-1-25">
					<input type="checkbox" ng-model="formData.expiredContract">
				</li>
				<li class="col-5-25">
					<label for="valid-contract">EXP. CONTRACT</label>
				</li>
				<li class="col-5-25">
					<input type="text" ng-model="formData.searchName" ng-keyup="searchForname()">
				</li>
				<li class="col-4-25">
					<input type="date" ng-model="formData.startingDate">
				</li>
				<li class="col-4-25">
					<input type="date" ng-model="formData.endingDate">
				</li>
				<li class="col-1-25">
					<input type="checkbox" ng-model="formData.uniqueResults" checked>
				</li>
				<li class="col-5-25">
					<label for="valid-contract">UNIQUE RESULTS</label>
				</li>
				<li class="col-6-25">
					<input type="button" value="SEARCH" ng-click="sendForm()">
				</li>

       			<ul>
       				<li ng-repeat="companyName in searchResults" ng-click="clicked(companyName)">{{companyName}}</li>
       			</ul>
			</ul><!-- search company END-->

<!-- dynamic content features END-->

<!-- DYNAMIC DATA CONTENT -->

			<!-- COMPANY SHORTLIST MENU -->
			<ul class="flex data-menu-styling styling-blue interaction">
				<li class="col-1-25">
					<input type="checkbox" ng-click="checkAll()">
				</li>
				<li class="col-5-25" ng-click = "sortField = 'company_name'">COMPANY NAME</li>
				<li class="col-6-25" ng-click = "sortField = 'company_email'">EMAIL</li>
				<li class="col-4-25" ng-click = "sortField = 'company_phone'">PHONE NUM.</li>
				<li class="col-3-25" ng-click = "sortField = 'company_phone'">POSTAL NUM.</li>
				<li class="col-3-25" ng-click = "sortField = 'postal_number'">START DATE</li>
				<li class="col-3-25" ng-click = "sortField = 'ending_date'">EXP. DATE</li>
			</ul><!-- company shortlist menu END-->

			<!-- COMPANY SHORTLIST -->
			<ul class="flex data-styling" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[company.css_color]" ng-repeat="company in companies | orderBy:sortField">
				<li class="col-1-25"><input type="checkbox" checklist-model="selectedCompanies.id" checklist-value="company.company_id"></li>
				<li class="col-5-25">{{company.company_name}}</li>
				<li class="col-6-25">{{company.company_email}}</li>
				<li class="col-4-25">{{company.company_phone}}</li>
				<li class="col-3-25">{{company.postal_number}}</li>
				<li class="col-3-25">{{company.starting_date}}</li>
				<li class="col-3-25">{{company.ending_date}}</li>
			</ul><!-- company shortlist END-->

			<!-- SHOW DETAILED MENU-->
				<ul class="flex feature-styling styling-grey">
					<li class="col-25-25"><input type="button" value="SHOW DETAILED INFO OF SELECTED" ng-click="getDetailedInfo()"></li>
				</ul><!-- show detailed menu END -->

			<!-- SHOW DETAILED COMPANY INFORMATIONS -->
			<div ng-repeat="companyDetailed in companiesDetailed | orderBy:sortField">
				<ul class="flex feature-styling font-size">
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						COMPANY NAME
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.company_name}}</div>
						<input type="text" ng-model="companyDetailed.company_name" ng-show="showForm">
					</li>
					<li class="col-4-25"  ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						STARTING DATE
					</li>
					<li class="col-4-25">
						<div ng-hide="showForm">{{companyDetailed.starting_date | date: "yyyy-MM-dd"}}</div>
						<input type="date" ng-model="companyDetailed.starting_date" ng-show="showForm">
					</li>
					<li class="col-3-25"  ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						ENDING DATE
					</li>
					<li class="col-4-25">
						<div ng-hide="showForm">{{companyDetailed.ending_date | date: "yyyy-MM-dd"}}</div>
						<input type="date" ng-model="companyDetailed.ending_date" ng-show="showForm">
					</li>

					<li class="col-4-25"  ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						PHONE NUMBER
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.company_phone}}</div>
						<input type="text" ng-model="companyDetailed.company_phone" ng-show="showForm">
					</li>
					<li class="col-4-25"  ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						EMAIL
					</li>
					<li class="col-11-25">
						<div ng-hide="showForm">{{companyDetailed.company_email}}</div>
						<input type="text" ng-model="companyDetailed.company_email" ng-show="showForm">
					</li>

					<li class="col-4-25"  ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						INVOICE NUMBER
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.invoice_number}}</div>
						<input type="text" ng-model="companyDetailed.invoice_number" ng-show="showForm">
					</li>		
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						SERVICE PROVIDER
					</li>
					<li class="col-11-25">
						<div ng-hide="showForm">{{companyDetailed.service_provider}}</div>
						<input type="text" ng-model="companyDetailed.service_provider" ng-show="showForm">
					</li>	

					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						PRICE OF SERV. (NUM)
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.price_of_serv_num}}</div>
						<input type="text" ng-model="companyDetailed.price_of_serv_num" ng-show="showForm">
					</li>		
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						PRICE OF SERV. (LET)
					</li>
					<li class="col-11-25">
						<div ng-hide="showForm">{{companyDetailed.price_of_serv_let}}</div>
						<input type="text" ng-model="companyDetailed.price_of_serv_let" ng-show="showForm">
					</li>	
					
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						TRANSFER DATE
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.transfer_date}}</div>
						<input type="date" ng-model="companyDetailed.transfer_date" ng-show="showForm">
					</li>		
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						INVOICE DATE
					</li>
					<li class="col-11-25">
						<div ng-hide="showForm">{{companyDetailed.invoice_date}}</div>
						<input type="date" ng-model="companyDetailed.invoice_date" ng-show="showForm">
					</li>

					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						PAYMENT METH.
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.payment_method}}</div>
						<input type="text" ng-model="companyDetailed.payment_method" ng-show="showForm">
					</li>		
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						ACCOUNT NUM.
					</li>
					<li class="col-11-25">
						<div ng-hide="showForm">{{companyDetailed.account_number}}</div>
						<input type="text" ng-model="companyDetailed.account_number" ng-show="showForm">
					</li>		

					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						COMPANY ADDRESS
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.company_address}}</div>
						<input type="text" ng-model="companyDetailed.company_address" ng-show="showForm">
					</li>	
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						COMPANY ID
					</li>
					<li class="col-4-25">
						<div ng-hide="showForm">{{companyDetailed.company_register_id}}</div>
						<input type="text" ng-model="companyDetailed.company_register_id" ng-show="showForm">
					</li>		
					<li class="col-3-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						TAX ID
					</li>
					<li class="col-4-25">
						<div ng-hide="showForm">{{companyDetailed.company_tax_id}}</div>
						<input type="text" ng-model="companyDetailed.company_tax_id" ng-show="showForm">
					</li>	

					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						POSTAL NUMBER
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.postal_number}}</div>
						<input type="text" ng-model="companyDetailed.postal_number" ng-show="showForm">
					</li>
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						POSTAL SERVICE
					</li>
					<li class="col-11-25">
						<div ng-hide="showForm">{{companyDetailed.postal_service}}</div>
						<input type="text" ng-model="companyDetailed.postal_service" ng-show="showForm">
					</li>

					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						POSTAL NAME
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.postal_name}}</div>
						<input type="text" ng-model="companyDetailed.postal_name" ng-show="showForm">
					</li>		
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						POSTAL ADDRESS
					</li>
					<li class="col-11-25">
						<div ng-hide="showForm">{{companyDetailed.postal_address}}</div>
						<input type="text" ng-model="companyDetailed.postal_address" ng-show="showForm">
					</li>	

					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						MANAGER NAME
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.manager_name}}</div>
						<input type="text" ng-model="companyDetailed.manager_name" ng-show="showForm">
					</li>	
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						MAN. STATUS
					</li>
					<li class="col-4-25">
						<div ng-hide="showForm">{{companyDetailed.manager_status}}</div>
						<input type="text" ng-model="companyDetailed.manager_status" ng-show="showForm">
					</li>
					<li class="col-3-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						MAN. ID
					</li>
					<li class="col-4-25">
						<div ng-hide="showForm">{{companyDetailed.manager_id}}</div>
						<input type="text" ng-model="companyDetailed.manager_id" ng-show="showForm">
					</li>

					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						MAN. MOTHER'S NAME
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.manager_mother_name}}</div>
						<input type="text" ng-model="companyDetailed.manager_mother_name" ng-show="showForm">
					</li>		
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						MANAGER ADDRESS
					</li>
					<li class="col-11-25">
						<div ng-hide="showForm">{{companyDetailed.manager_address}}</div>
						<input type="text" ng-model="companyDetailed.manager_address" ng-show="showForm">
					</li>

					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						DOCUMENTS HOLDER
					</li>
					<li class="col-6-25">
						<div ng-hide="showForm">{{companyDetailed.document_holder}}</div>
						<input type="text" ng-model="companyDetailed.document_holder" ng-show="showForm">
					</li>		
					<li class="col-4-25" ng-class="{green:'styling-green', yellow:'styling-yellow', red:'styling-red'}[companyDetailed.css_color]">
						DOCUMENTS ADDRESS
					</li>
					<li class="col-11-25">
						<div ng-hide="showForm">{{companyDetailed.document_holder_address}}</div>
						<input type="text" ng-model="companyDetailed.document_holder_address" ng-show="showForm">
					</li>	
				</ul>
				<!-- show detailed company informations END -->

				<!-- EDIT COPANY AND PRINT CONTRACT -->
				<ul class="flex feature-styling styling-grey">
					<li class="col-6-25"><input type="button" value="EDIT" ng-click="showForm = !showForm"></li>
					<li class="col-8-25"><input type="button" value="SAVE INTO DATABASE" ng-click="overwriteData(companyDetailed)"></li>
					<li class="col-5-25"><input type="button" value="CANCEL" ng-click="resetForm()"></li>
					<li class="col-6-25"><input type="button" value="PRINT CONTRACT"></li>
				</ul><!-- edit company and print contract -->
			</div>
<!-- dynamic data content END -->
		</div>
<!-- dynamic content container END -->
	</div>
<!-- main container END -->
</body>


</html>